* {
  box-sizing: border-box;
  font-family: "Segoe ui";
  padding: 0;
  margin: 0;
  font-weight: 200;
  scroll-behavior: smooth;
}
header {
  margin-right: auto;
  color: #fff;
  margin-left: 1.5%;
  font-size: 1.5em;
}
nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 60px;
  background-color: rgb(24, 23, 23);
  align-items: center;
  position: fixed;
}
nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
}
nav li {
  list-style: none;
  margin: 1.5%;
}
nav li:hover {
  border-bottom: 2px rgb(111, 255, 67) solid;
}
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(0, 0, 0);
}
.section-1 {
  background-color: rgb(206, 224, 224);
}
.section-1 h1 {
  padding: 25px;
}
.section-2 {
  background-color: rgb(235, 235, 235);
}
.section-2 h1 {
  padding: 40px;
}
.nav {
  background-color: rgb(50, 60, 146);
}
@media (max-width: 640px) {
  header {
    display: none;
  }
  h1 {
    text-align: center;
  }
}
